body {
  background-color: #f5f1fe;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

.a {
  text-decoration: none;
  color: black;
}

h2 {
  margin: 0 0 10px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: white;
  padding: 60px;

  border-radius: 20px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px dashed grey;
  padding: 20px 0;
}

.city:last-child {
  border: none;
}

.time {
  font-size: 55px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 36px;
}

.date {
  opacity: 0.7;
}

footer {
  text-align: center;
}
